<a href="https://colab.research.google.com/github/wallik2/SCIM_Lecture/blob/main/Intro_Data_Sci/Week2_Pandas_Application.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
DF = pd.DataFrame(
    [[62, 'C'],[77, 'B+'],[27, 'F'],[44, 'F'],[58, 'D+'],[76, 'B+'],[30, 'F'],
     [53, 'D'],[20, 'F'],[76, 'B+'],[38, 'F'],[71, 'B'],[48, 'F'],[37, 'F'],
     [52, 'D'],[57, 'D+'],[69, 'C+'],[47, 'F'],[50, 'D'],[33, 'F'],[63, 'C'],
     [48, 'F'],[30, 'F'],[54, 'D'],[30, 'F'],[39, 'F'],[42, 'F'],[59, 'D+'],
     [58, 'D+'],[61, 'C'],[24, 'F'],[28, 'F'],[58, 'D+'],[46, 'F'],[66, 'C+'],
     [54, 'D'],[64, 'C'],[79, 'B+'],[33, 'F'],[44, 'F'],[60, 'C'],[15, 'F'],
     [48, 'F'],[62, 'C'],[57, 'D+'],[46, 'F'],[51, 'D'],[50, 'D'],[27, 'F'],
     [69, 'C+'],[59, 'D+'],[62, 'C'],[24, 'F'],[55, 'D+'],[58, 'D+'],[51,'D'],
     [28, 'F'],[65, 'C+'],[47, 'F'],[11, 'F'],[90, 'A'],[69, 'C+'],[43, 'F'],
     [75, 'B+'],[53, 'D'],[40, 'F'],[42, 'F'],[53, 'D'],[61, 'C'],[35, 'F'],
     [34, 'F'],[52, 'D'],[52, 'D'],[55, 'D+'],[36, 'F'],[36, 'F'],[79, 'B+'],
     [46, 'F'],[88, 'A'],[78, 'B+'],[18, 'F'],[87, 'A'],[46, 'F'],[30, 'F'],
     [36, 'F'],[51, 'D'],[59, 'D+'],[16, 'F'],[64, 'C'],[54, 'D'],[42, 'F'],
     [50, 'D'],[51, 'D'],[40, 'F'],[44, 'F'],[61, 'C'],[35, 'F'],[52, 'D'],
     [15, 'F'],[68, 'C+']],
     columns=['Total (100%)', 'Grade']
)

In [4]:
DF

    Total (100%) Grade
0             62     C
1             77    B+
2             27     F
3             44     F
4             58    D+
..           ...   ...
95            61     C
96            35     F
97            52     D
98            15     F
99            68    C+

[100 rows x 2 columns]

In [5]:
DF[["Grade","Total (100%)"]]

   Grade  Total (100%)
0      C            62
1     B+            77
2      F            27
3      F            44
4     D+            58
..   ...           ...
95     C            61
96     F            35
97     D            52
98     F            15
99    C+            68

[100 rows x 2 columns]